body {
	color: #000000;
	font: 50px Tahoma, sans-serif;
	background: #ffffff;
	margin: 0px;
	justify-content: flex-start;
	flex-direction: column;
	flex-wrap: nowrap
}

header {
	width: auto;
	height: 80px;
	background-color: #393939;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	padding-left: 125px;
}

img {
	position: absolute;
	top: 4px;
	left: 40px;
	width: 70px;
	height: 70px;
}