header {
	width: 100%;
	height: 80px;
	background-color: #393939;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	padding-left: 125px;
}

img {
	position: absolute;
	top: 4px;
	left: 40px;
	width: 70px;
	height: 70px;
}

body {
	color: #000000;
	font: 50px Tahoma, sans-serif;
	background-color: #ffffff;
	margin: 0;
}