body {
	color: #000000;
	font: 50px Tahoma, sans-serif;
	background: #ffffff;
	margin: 0px;
	justify-content: flex-start;
	flex-direction: column;
	flex-wrap: nowrap
}

header {
	font: clamp(16px, 5vw, 50px) Tahoma, sans-serif;
	height: clamp(16px, 50%, 80px);
	width: auto;
	background-color: #393939;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	padding-left: 125px;
}

.img_logo {
	position: absolute;
	top: 4px;
	left: 40px;
	width: clamp(16px, 5vw, 55px);
	height: clamp(16px, 5vw, 55px);
}

.img_random {
	position: absolute;
	top: 4px;
	left: 40px;
	width: clamp(16px, 5vw, 55px);
	height: clamp(16px, 5vw, 55px);
}

.img_advanced_search {
	position: absolute;
	top: 4px;
	left: 40px;
	width: clamp(16px, 5vw, 55px);
	height: clamp(16px, 5vw, 55px);
}

.img_rating {
	position: absolute;
	top: 4px;
	left: 40px;
	width: clamp(16px, 5vw, 55px);
	height: clamp(16px, 5vw, 55px);
}

.long_btn {
	background: linear-gradient(135deg, #1d1c1d, #2b262a 60%, #252123);
	color: #fff;
	padding: 1rem 1.5rem;
	text-decoration: none;
	border-radius: 12px;
	font-size: clamp(11px, 3vw, 90px);
	width: clamp(160px, 50%, 700px);
	height: clamp(40px, 20%, 400px);
	position: relative;
}

.long_butt {
	margin-top: clamp(20px, 4vw, 60px);
	text-align: center;
}

.long_btn:hover, .btn:focus {
	color: rgb(255, 255, 255);
	box-shadow: -1px 1px 2px rgb(182, 55, 171);
	background-color: rgb(155, 44, 108)
}

.btn {
	background: linear-gradient(135deg, #1d1c1d, #2b262a 60%, #252123);
	color: #fff;
	padding: 1rem 1.5rem;
	text-decoration: none;
	border-radius: 12px;
	font-size: clamp(11px, 2vw, 50px);
	width: clamp(80px, 21%, 500px);
	height: clamp(40px, 20%, 400px);
	display: inline-block;
	position: relative;
}

.butt {
	margin-top: clamp(10px, 2vw, 60px);
	text-align: center;
}

.btn:hover, .btn:focus {
	color: rgb(255, 255, 255);
	box-shadow: -1px 1px 2px rgb(182, 55, 171);
	background-color: rgb(155, 44, 108)
}